body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

h1,
h2,
h3 {
    color: #000000;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left:  20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header,
.catalog-item {
    background-color: #eeeeee;
}

nav {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    background-color: #eeeeee;
}

nav a {
    color: #000000;
}

.site-navigation,
.user-navigation {
    list-style: none;
    color: #000000;

    display: flex;
    justify-content: space-between;
    padding: 0;
}

.site-navigation {
    width: 440px;
}
nav a:hover {
    color: #fb565a;
}

nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.button {
    font: inherit;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-align: center;
    background-color: #fb565a;
    border: none;
}

.bottom .order {
    font-weight: 500;
}

.button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #e74246; 
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.header-slide p,
.offer-item p,
.contact p,
.filter p,
.catalog p,
.catalog-item p {
    color: #283136;
}

.header-slider h2,
h1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.header-slide-1 {
    display: flex;
    justify-content: space-between;
}

.sign {
    width: 380px;
}

.header-slider {
    position: relative;
}

.slider-control {
    position: absolute;
    content: '';
    margin-left: 556px;
    bottom: 95px;
}

.slider-control ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.offer-list {
    display: flex;
    justify-content: space-between;
}

.offer-list li {
    padding-top: 146px;
}

.offer-item-web,
.offer-item-apps,
.offer-item-present {
    position: relative;
    width: 300px;
}

.offer-item-web::before {
    position: absolute;
    content: '';
    background-image: url("../img/illustration-1.png");
    background-repeat: no-repeat;
    top: 0;
    width: 300px;
    height: 146px;
}

.offer-item-apps::before {
    position: absolute;
    content: '';
    background-image: url("../img/illustration-2.png");
    background-repeat: no-repeat;
    top: 0;
    width: 300px;
    height: 146px;
}

.offer-item-present::before {
    position: absolute;
    content: '';
    background-image: url("../img/illustration-3.png");
    background-repeat: no-repeat;
    top: 0;
    width: 300px;
    height: 146px;
}

.offer-list h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 146;
}

.offer ul{
    list-style: none;
    text-align: left;
    padding: 0;
}

.info h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.info-text h3 {           
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.info-text ul {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    list-style: none;
    padding: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.info-text {
    width: 600px;
}

.info-table {
    width: 360px;
}

.info-table img {
    margin-bottom: 40px;
}

.info-data-caption {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

td {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 25px;
    text-align: left;
}

th {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
    text-align: left;
}

.portfolio {
    margin-bottom: 80px;
}

.portfolio-list {
    display: flex;
    justify-content: space-around;
}

.portfolio ul {
    list-style: none;
    padding: 0;
}

.portfolio-item a {
    opacity: 0.2;
}

.portfolio-item a:hover {
    opacity: 1;
}

.portfolio-item a:focus {
    opacity: 1;
}

.portfolio-item a:active {
    opacity: 0.1;
}

.map {
    width: 100%;
    margin-bottom: 30px;
}

.map {
    position: relative;
}

.contact {
    position: absolute;
    content: '';
    background-color: #ffffff;
    width: 319px;
    height: 308px;
    margin-left: 140px;
    top: 53px;
    bottom: 53px;
    text-align: center;
}

.contact h3 {
    padding-top: 53px;
    text-transform: uppercase;
}

.footer-main {
    display: flex;
}

.footer-social {
    width: 260px;
    margin-right: 140px;
}

.footer-social ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
    justify-content: space-between;
}

.footer-social a {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #e1e1e1;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.social-button svg {
    fill: rgba(255, 255, 255, 1);
    text-align: center;

}

.footer-social a:hover {
    background-color: #e74246;
}

.footer-social a:active {
    background-color: #d7373b;
}

.social-button svg:active {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-bidding {
    weight: 360px;
    align-self: center;
}

.footer-bidding span {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.modal {
    width: 960px;
    height: 589px;   
}

.modal input,
.modal textarea {
    font: inherit;
    color: rgba(68, 68, 68, 0.5);
    background-color: transparent;
    border: 2px solid #d7dcde;
    outline: none;
}

.modal input:hover,
.modal textarea:hover {
    color: rgba(68, 68, 68, 0.5);
} 

.modal input:focus,
.modal textarea:focus {
    color: #444444;
}

.modal input:invalid {
    color: #e74246;
    border: 1px solid #e74246;
}

.catalog-list {
    list-style: none;
    padding: 0;
}

.catalog-item-title {
    text-transform: uppercase;
}

.catalog-item p {
    color: #666666;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

.filter ul {
    list-style: none;
    line-height: 20px;
}

.show-btn {
    color: #000000;
    background-color: #eeeeee;    
}

.show-btn:hover {
    color: #000000;
    background-color: #dfdfdf; 
}

.show-btn:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5; 
    outline: none;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.cell ul {
    list-style: none;
}

.cell label {
    color: #283136;
}

.cell label:hover {
    color: #000000;
}

.catalog-sort ul {
    list-style: none;
}

.catalog-sort a {
    color: rgba(0, 0, 0, 0.3);
    fill: rgba(0, 0, 0, 0.3)
}

.catalog-sort svg{
    color: rgba(166, 166, 166, 0.2);
    fill: rgba(166, 166, 166, 0.2);
}

.catalog-sort a:hover,
.catalog-sort svg:hover{
    color: rgba(166, 166, 166, 1);
    fill: rgba(166, 166, 166, 1);
}

.catalog-sort a:active,
.catalog-sort svg:active{
    color: rgba(0, 0, 0, 1);
    fill: rgba(0, 0, 0, 1)
}

.catalog-item .catalog-btn {
    color: #ffffff;
}

.pagination ul {
    list-style: none;
}